.reviews {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 36px;
}

.leaveRewievs {
  background-color: var(--white);
  padding: 12px 12px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow-x: hidden;
}

.formWrap {
  background-color: var(--white);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--white);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: var(--main-text);
}

.input,
.textarea {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 8px;
  max-height: 150px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border 0.3s, box-shadow 0.3s;
}

.input[readonly] {
  background-color: #f9f9f9;
  color: #333;
  cursor: not-allowed;
  outline: none;
}

.textarea {
  resize: none;
  min-height: 150px;
  outline: none;
}

.ratingBlock {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.submitBtn,
.loginBtn {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.loginBtn {
  right: 50%;
  transform: translateX(50%);
}

.submitBtn:hover {
  background-color: #7cb342;
  box-shadow: 0 4px 12px rgba(139, 195, 74, 0.4);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.leaveRewievs {
  padding: 32px 24px;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.scrollBox {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

.scrollBox::-webkit-scrollbar {
  width: 6px;
}

.scrollBox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.scrollBox::-webkit-scrollbar-track {
  background-color: transparent;
}

.listWrap {
  padding-right: 8px;
}

.list {
  overflow-y: auto;
}

.list li {
  background-color: #fff;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.list li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.headerReview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.list h3 {
  font-size: 18px;
  font-weight: 600;
}

.list p {
  font-size: 16px;
  line-height: 1.4;
}

.date {
  color: var(--grey-text);
}

.noReviews {
  font-size: 18px;
  font-weight: 500;
  color: var(--grey-text);
  text-align: center;
  margin-bottom: 24px;
}
