.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
  color: $main-text;
}

.descriptions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  border-bottom: 1px solid $accent;
}

.header {
  @include flex(row, space-between, center);
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: $main-text;
  cursor: pointer;
}

.icon {
  padding: 10px;
  font-size: 28px;
  color: $accent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  @include transition(transform, 0.4s, ease);
}

.contentWrapper {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease;
}

.content {
  padding: 8px 0;
}

.openIcon {
  transform: rotate(180deg);
}

.contentWrapper.open {
  max-height: 1100px;
  padding-bottom: 16px;
}

.content p {
  color: $main-text;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

.content ul {
  @include flex(column, null, null, 8px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
