.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  overflow-y: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.overlayActive {
  opacity: 1;
}

.overlay::before,
.overlay::after {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  flex-grow: 1;
  padding: 32px 60px 40px;
  background-color: var(--white);
  border-radius: 16px;
  transform: translateY(50px);
  transition: transform 0.4s ease-out;
}

.contentActive {
  transform: translateY(0);
}

.closeBtn {
  position: absolute;
  top: 32px;
  right: 60px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: #333;
  transition: transform 0.3s ease;
}

.closeBtn:hover {
  transform: rotate(90deg);
}

.optionsWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 0;
  transition: color 0.3s ease, transform 0.3s ease;
}

.goBack span {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.goBack:hover {
  color: var(--accent);
}

.goBack:active {
  transform: scale(1.1);
}

.orderWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orderText {
  color: var(--grey-text);
  font-size: 16px;
}

.orderSum {
  font-size: 32px;
  font-weight: 600;
}

.orderCurrency {
  font-size: 20px;
}

.submitBtn {
  padding: 18px 24px;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 32px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.submitBtn:hover {
  opacity: 80%;
}
