
.productHeaderWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.productImgWrap {
  width: 380px;
  height: 380px;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: center;
  display: block;
  cursor: pointer;
}



.descriptionWrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  min-height: 400px;
}

.appointmentWrap {
  font-size: 18px;
}

.apoint {
  width: 100%;
  background: var(--white);
  font-weight: 600;
  max-width: 400px;
  padding: 4px 16px;
  border-radius: 8px;
  line-height: 1.6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.apoint span {
  font-weight: 400;
}

.wrap {
  width: 100%;
  margin-bottom: 12px;
}
.descriptionWrap h2 {
  margin-bottom: 12px;
}

.text {
  font-size: 18px;
  margin-bottom: 8px;
}

.howMany {
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--grey-text);
  margin-bottom: 32px;
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.btnBuy {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--accent);
  font-size: 22px;
  font-weight: 400;
  color: var(--white);
  font-family: var(--font-family);
  border: none;
  transition: opacity 0.4s ease;
}

.btnBuy span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnBuy:hover {
  opacity: 85%;
}

.price {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: auto;
}

.reviewsCount {
  font-size: 18px;
  color: var(--main-text);
  margin-top: 8px
}

