.cart {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.totalProducts {
  font-size: 18px;
  color: var(--grey-text);
}

.totalProducts span {
  font-size: 18px;
  color: var(--main-text);
}

.cleanCart {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0;
  gap: 8px;
  border: none;
  background-color: transparent;
  transition: color 0.3s ease;
}

.cleanCart:hover {
  color: var(--error);
}

.cleanCart span {
  font-size: 24px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 70%;
  flex: 1;
  overflow: scroll;
  overflow-y: scroll;
  padding-right: 40px;
}

.productList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.productList::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}

.productList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.productItem {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-text);
}

.description h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.description p {
  color: var(--grey-text);
}

.productImageWrap {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.productImg {
  max-width: 100px;
}

.quantity {
  width: 110px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: auto;
  margin-right: 20px;
}

.quantityPrice {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  min-width: 110px;
  cursor: auto;
  margin-right: 20px;
}

.plus {
  margin-bottom: 3px;
}
.plus,
.minus {
  padding: 0;
  width: 30px;
  height: 30px;
  padding: 8px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus span {
  width: 12px;
  height: 2.2px;
  border: 50%;
  background-color: var(--main-text);
}

.minus:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.deleteBtn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 24px;
  border: none;
  padding: 5px;
  transition: color 0.3s ease;
}

.deleteBtn:hover {
  color: var(--error);
}

.options {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.line {
  width: 100%;
  border: 1px solid gray;
}

.notProductInCart {
   color: var(--grey-text);
  font-size: 24px;
  text-align: center;
  padding: 50px;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--accent);
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
