.hero {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero h2 {
font-size: 48px;
font-weight: 600;
margin-bottom: 24px;
}

.hero p{
    font-size: 28px;
    font-weight: 400;
}


.container {
    align-items: center;
    justify-content: center;
     display: flex;
     gap: 36px;
}

.tetiana {
    max-width: 400px;
}

.hello {
    max-width: 600px;
}