.swiper {
  height: 400px; /* або 100vh, або під твій дизайн */
  width: 300px;  /* необов’язково, якщо треба ширина */
}



.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* щоб картинки не обрізалися */
}
