.backdrop {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  width: 300px;
  position: relative;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.avatarWrapper {
  margin-bottom: 1rem;
}

.notAvatar {
display: flex;
align-items: center;
justify-content: center;
color: var(--white);
font-size: 32px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--accent);
}



.name {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.email {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.info {
  font-size: 0.85rem;
  color: #777;
}
