


.recipient {
    margin-bottom: 12px;
}

.inputCityWrap {
margin-top: 20px;
margin-bottom: 20px;
}

.popularCities {
    margin-top: 4px;
}

.cityList {
  display: flex;
  gap: 4px;
}

.cityList li button {
  padding: 4px 4px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cityList li button:hover {
  background-color: #d4d4d4;
}
