.favorites {
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  margin-bottom: 20px;
}

.favoritesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productCard {
  max-width: calc((100% - 60px) / 4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}



