.deleteBtn {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 24px;
  color: rgb(188, 195, 188);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color 0.4s ease, transform 0.4s;
}

.deleteBtn:hover {
  color: var(--error);
}

.deleteBtn:active {
  transform: scale(0.9);
}