.products {
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  margin-bottom: 24px;
  padding-left: 50px;
  font-size: 38px;
}

.mainWrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}



