.ProductDetails {
  padding-top: 100px;
  padding-bottom: 50px;
}

.infoSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.optionsSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviewsSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.productContainer {
  position: relative;
}

.goBack {
  @include flex(row, center, center, 10px);
  @include absolute-position(null, null, -80px, 50px);
  max-width: 240px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 5px;
  @include transition((color, transform), 0.3s, ease);
}

.goBack span {
  @include flex(row, center, center);
  font-size: 24px;
}

.goBack:hover {
  color: $accent;
}

.goBack:active {
  transform: scale(1.1);
}

.productHeaderWrap {
  @include flex(row, space-between, flex-start, 24px);
  flex-wrap: wrap;
  padding: 24px;
}

.productImgWrap {
  @include flex();
  padding: 30px 0;
  overflow: hidden;
}

.descriptionWrap {
  @include flex(column, space-between, start);
  min-height: 400px;
}

.appointmentWrap {
  font-size: 18px;
}

.apoint {
  background: $white;
  font-weight: 500;
  max-width: 400px;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.wrap {
  width: 100%;
}
.descriptionWrap h2 {
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  margin-bottom: 8px;
}

.howMany {
  margin-bottom: 20px;
  font-size: 18px;
  color: $grey-text;
  margin-bottom: 32px;
}

.btnWrap {
  @include flex(row, space-between, center);
  margin-bottom: 12px;
}

.btnBuy {
  @include flex(row, space-between, center);
  width: 200px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: $accent;
  font-size: 22px;
  font-weight: 400;
  color: $white;
  border: none;
  @include transition(opacity, 0.3s, ease);
}

.btnBuy:hover {
  opacity: 0.85;
}

.price {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: auto;
}

.swiperTitle {
  font-size: 32px;
  margin-bottom: 30px;
}

.mySwiper {
  margin-bottom: 50px;
}

.modalwrap {
  @include absolute-position(0, 0, 0, 0, 1000);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 150%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  @include transition((opacity, visibility), 0.3s, ease);
}

.modalwrap img {
  margin: 0 auto;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  cursor: pointer;
}

.modalWrapOpen {
  display: block;
  opacity: 1;
  visibility: visible;
}
